<div class="options-list-container">
  <div class="options-list-roll"></div>
  <div class="options-list-content">
    <div class="options-list-header">
      <div class="options-list-header-options-summary">
        <span class="number">{{(options | async)?.length ?? '-'}}</span>
        <span class="title">
          <span i18n="card-options|Options span label">options</span>
          <span i18n="card-option-added|Options span added label">added</span>
        </span>
      </div>
      <mat-checkbox [(ngModel)]="isAdvancedOn" [disabled]="isAdvancedDisabled"
                    i18n="advanced-mode|Advanced checkbox label">Advanced mode
      </mat-checkbox>
    </div>
    <div *ngIf="isAdvancedOn" class="options-list-items">
      <app-card-options-advanced-list [options]="options"></app-card-options-advanced-list>
    </div>
    <div *ngIf="!isAdvancedOn" class="options-list-items">
      <app-card-textarea></app-card-textarea>
    </div>
  </div>

  <app-card-option-advanced-add *ngIf="isAdvancedOn"></app-card-option-advanced-add>
</div>
